.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: black ;
}

.header_logo{
    background-image: url(../imeges/logo.jpg);
    position: absolute;
    width: 100px;
    height: 100px;
}

.header_text{
    width:  455px;
    height: 100px;
    text-align: right;
    font-size: 6vh;
    color: darkred;
    display: inline-block;
    font-family: "Segoe Print";
}

.header_menu {
    width: 50%;
    left: 50%;
    position:absolute;
    display: inline-block;
}

.header_ul {
    list-style-type: none;
    overflow: hidden;
}

.header_ul li {
    width: 33%;
    float: left;
}

.header_ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 3vh;
    font-size: 3vh;
    text-decoration: none;
    font-family: "Matura MT Script Capitals" ;
}

.header_ul li a:hover {
    background-color: #444444;
    opacity: 0.5;
}

.header_pressed-button{
    display: block;
    color: white;
    text-align: center;
    padding: 2vh;
    font-size: 3vh;
    text-decoration: none;
    background-color: blue;
    opacity: 0.5; /* Прозрачность фона */
    font-family: Algerian ;
}