* {
    margin: 0;
    padding: 0;
}

.start__body {
    background: url(../imeges/Start.png) 48% 0% no-repeat black;
    background-size: auto; /* Масштабируем фон */
}

.index__body {
    background: black url(../imeges/index.png) center 0% no-repeat;/**/
    background-size: auto;/*Масштабируем фон */
}

.body {
    background: black;
}

.start__button {
    overflow: hidden;
    display: block;
    width: 15%;
    height: 5vh;
    margin-top: 30%; /* Отступ в процентах от верхнего края окна */
    margin-left: 45%; /* Отступ в процентах от левого края окна */
    color: aliceblue;
    text-align: center;
    padding: 4vh;
    font-size: 9vh;
    text-decoration: none;
    font-family: Algerian;
}

.start__button:hover {
    background-color: brown;
    color: gold;
    opacity: 0.5; /* Прозрачность фона */
}

.top-list__list{
    overflow: auto;
    width: 20%;
    margin-top: 7%; /* Отступ в процентах от верхнего края окна */
    margin-left: 40%; /* Отступ в процентах от левого края окна */
    color: black;
    text-align: left;
    padding: 1vh;
    font-size: 3vh;
    background-color: darkgray;
    opacity: 1;
}

.top-list__list ol{
    list-style: decimal inside;
}

.about__content {
    overflow: auto;
    width: 79%;
    margin-top: 7%; /* Отступ в процентах от верхнего края окна */
    margin-left: 19%; /* Отступ в процентах от левого края окна */
    color: black;
    text-align: left;
    padding: 1vh;
    font-size: 3vh;
    background-color: darkgray;
    opacity: 1;
}
